body {
    background-color: slategray;
}

#nav-main {
    stroke: yellow;
    stroke-width: 0;
    animation-fill-mode: forwards;
    transition: stroke-width 1.3s ease-in-out;
}

#nav-main:hover {
    stroke-width: 5;
}