body {
    background-color: #1d1d1f;
}

#nav-button {
    stroke: #FFDF80;
    stroke-width: 13;
    animation-fill-mode: forwards;
    transition: stroke-width 0.2s ease-out;
}

#nav-button:hover {
    stroke-width: 25;
}

@keyframes glowSpread {
    from {
        opacity: 0.0;
        width: 10px;
    }
    to {
        opacity: 1.0;
        width: 7950px;
    }
}

#glow-container {
    opacity: 0.0;
    fill: #FFDF80;
    width: 10px;
}

.glow-spread {
    animation: glowSpread 3s forwards;
}

@keyframes displayRects {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

#about {
    opacity: 0.0;
}

.display-about {
    animation: displayRects 1.0s forwards;
    animation-delay: 0.5s;
}

#projects {
    opacity: 0.0;
}

.display-projects {
    animation: displayRects 0.5s forwards;
    animation-delay: 1.0s;
}

#links {
    opacity: 0.0;
}

.display-links {
    animation: displayRects 0.5s forwards;
    animation-delaY: 2.5s;
}